/*AdminResetPassword*/
body {
    background-color: #c9d6ff;
    background: linear-gradient(to right, #e2e2e2, #c9d6ff);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 100vh;
}

/*AdminResetPassword*/
.AdminResetPassword{
    background-color: #fff;
    border-radius: 30px;
    box-shadow: 0 5px 15px rgba(81, 65, 187, 0.84);
    position: relative;
    overflow: hidden;
    width: 568px;
    max-width: 100%;
    min-height: 580px;
    padding: 0 100px;
  }
.AdminResetPassword h2 {
  font-size: 30px;
  margin-bottom: 30px 20px;
  color: #3e0d6b;
}

.input-wrapper {
    font-size: 4px;
    line-height: 20px;
    letter-spacing: 0.3px;
    margin: 20px 0;
}
.input-wrapper input {
    background-color: #f9f7f7;
    border:none;
    margin: 10px 0;
    padding: 10px 35px;
    font-size: 13px;
    border-radius: 8px;
    width: 80%;
    outline:none;
    display: inline-block;
    border-bottom: 2px solid #3e0d6b;
}
/* Add this CSS code to your adminlogin.css file */
.button {
    display: flex;
    justify-content: center; /* Align button horizontally to the center */
    margin-top: 20px; /* Add margin for spacing */
  }
.button button {
  background-color: #3105a0;; /* Default button color */
  color: #fff; /* Text color */
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease; /* Smooth transition on hover */
  order: 2;
  
}

.button button:hover {
  background-color: #311b92; /* Button color on hover */
}

.form-container {
    position: absolute;
    top: 0;
    height: 100%;
    transition: all 0.6s ease-in-out;
}
.AdminResetPassword::after {
    content: "";
    position: absolute;
    bottom: 0; /* Place it at the bottom */
    left: 0; /* Align it to the left side */
    width: 100%; /* Extend the width across the entire container */
    height: 20%; /* Adjust height as needed */
    background-color: #512da8; /* Blue color */
    border-radius: 50% 50% 0 0;  /* Adjust border-radius for shape */
  }
