/*forgotpassword css*/

.uforgot-password-container{
    background-color: #fff;
    border-radius: 30px;
    box-shadow: 0 5px 15px rgba(81, 65, 187, 0.84);
    position: relative;
    overflow: hidden;
    width: 468px;
    max-width: 100%;
    min-height: 450px;
    padding: 0 100px;
  }
.uforgot-password-container h2 {
  font-size: 30px;
  margin-bottom: 30px 20px;
  color: #3e0d6b;
}

.uforgot-password-container::after {
    content: "";
    position: absolute;
    bottom: 0; /* Place it at the bottom */
    left: 0; /* Align it to the left side */
    width: 100%; /* Extend the width across the entire container */
    height: 30%; /* Adjust height as needed */
    background-color: #512da8; /* Blue color */
    border-radius: 50% 50% 0 0;  /* Adjust border-radius for shape */
  }

  .input {
    font-size: 4px;
    line-height: 70px;
    letter-spacing: 0.3px;
    margin: 20px 0;
}
.input input {
    background-color: #f9f7f7;
    border:none;
    margin: 10px 0;
    padding: 10px 35px;
    font-size: 13px;
    border-radius: 8px;
    width: 95%;
    outline:none;
    display: inline-block;
    border-bottom: 2px solid #3e0d6b;
}